# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/
.next/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Hardhat
cache/
artifacts/
typechain-types/
deployments/localhost/
deployments/sepolia/

# Temporary files
*.tmp
*.temp
fhevmTemp/

# OS
Thumbs.db

